@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Examples:</h2>

@Html.ActionLink("Basic", "Basic")
@Html.ActionLink("Pay-Per-Download", "PayPerDownload")
@Html.ActionLink("Pay-Per-Download-Multi", "PayPerDownloadMulti")
@Html.ActionLink("Pay-Per-Membership", "PayPerMembership")
@Html.ActionLink("Pay-Per-Membership-Multi", "PayPerMembershipMulti")
@Html.ActionLink("Pay-Per-Page", "PayPerPage")
@Html.ActionLink("Pay-Per-Page-Multi", "PayPerPageMulti")<br/>
@Html.ActionLink("Pay-Per-Post", "PayPerPost")
@Html.ActionLink("Pay-Per-Post-Multi", "PayPerPostMulti")
@Html.ActionLink("Pay-Per-Product", "PayPerProduct")
@Html.ActionLink("Pay-Per-Product-Multi", "PayPerProductMulti")
@Html.ActionLink("Pay-Per-Registration", "PayPerRegistration")
@Html.ActionLink("Pay-Per-Registration-Multi", "PayPerRegistrationMulti")<br/>
@Html.ActionLink("Pay-Per-Json", "PayPerJson")
@Html.ActionLink("Payments", "Payments")