@using Gourl.GoUrlCore
@model Gourl.Models.GoUrl.DisplayCryptoboxModel

@{
    ViewBag.Title = "PayPerDownload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PayPerDownload</h2>

<div align='center'>
    <div style='width:100%;height:auto;line-height:50px;background-color:#f1f1f1;border-bottom:1px solid #ddd;color:#49abe9;font-size:18px;'>
        3. Gourl <b>Pay-Per-Download</b> Example (@Model.coinName payments). Use it on your website.
        <div style='float: right;'>
            <a style='font-size: 15px; color: #389ad8; margin-right: 20px' href='https://github.com/cryptoapi/Payment-Gateway/blob/master/Examples/pay-per-download.php'>View Source</a>
            <a style="font-size: 15px; color: #389ad8; margin-right: 20px" href=@Url.Action("PayPerDownloadMulti", "Examples")@Request.Url.Query.ToString()>Multiple Crypto</a>
            <a style='font-size:15px;color:#389ad8;margin-right:20px' href='https://gourl.io/@Model.coinName.ToLower()-payment-gateway-api.html'>Other Examples</a>
        </div>
    </div>
    <h2>Example - Paid File Downloads</h2>
    <br><h1>File: @ViewBag.filename</h1>
    Price: ~@Model.amountUSD US$<br>
    <a @Html.Raw(@ViewBag.DownloadLink)><img alt='Download File' border='0' src='https://gourl.io/images/zip.png'></a><br>
    <a @Html.Raw(@ViewBag.DownloadLink)>Download File</a>
    <div style='margin:70px 0 5px 300px'>Language: &#160; @Html.LanguageBox()</div>
    @Html.Cryptobox(Model)


</div><br><br><br><br><br><br>
<div style='position:absolute;left:0;'><a target="_blank" href="http://validator.w3.org/check?uri=@HttpContext.Current.Request.Url.AbsoluteUri"><img src="https://gourl.io/images/w3c.png" alt="Valid HTML 4.01 Transitional"></a></div>
